@model WebCadastroGames.Models.Funcionario
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
<fieldset>
    <legend>Listar Funcionários</legend>

    <b><div class="editor-label">@Html.DisplayNameFor(m => m.FuncCod)</div></b>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncCod)</div>
    <br>
    <b><div class="editor-label">@Html.DisplayNameFor(m => m.FuncNome)</div></b>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncNome)</div>
    <br>
    <b><div class="editor-label">@Html.DisplayNameFor(m => m.FuncCPF)</div></b>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncCPF)</div>
    <br>
    <b><div class="editor-label">@Html.DisplayNameFor(m => m.FuncRG)</div></b>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncRG)</div>
    <br>
    <b><div class="editor-label">@Html.DisplayNameFor(m => m.FuncDtNasc)</div></b>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncDtNasc)</div>
    <br>
    <b><div class="editor-label">@Html.DisplayNameFor(m => m.FuncEnd)</div></b>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncEnd)</div>
    <br>
    <b><div class="editor-label">@Html.DisplayNameFor(m => m.FuncTel)</div></b>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncTel)</div>
    <br>
    <b><div class="editor-label">@Html.DisplayNameFor(m => m.FuncEmail)</div></b>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncEmail)</div>
    <br>
    <b><div class="editor-label">@Html.DisplayNameFor(m => m.FuncCargo)</div></b>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncCargo)</div>


</fieldset>

</br><a href="~/">Voltar</a>

