@model WebCadastroGames.Models.Jogo
@{
    ViewBag.Title = "Jogo";
}


<h2>Novo <b>Jogo</b></h2>

@using (Html.BeginForm("Jogo", "Jogo", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend> Cadastro de Jogos </legend>

        <div class="editor-label">
            @Html.LabelFor(m => m.JogoCod)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.JogoCod)
            @Html.ValidationMessageFor(m => m.JogoCod)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.JogoNome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.JogoNome)
            @Html.ValidationMessageFor(m => m.JogoNome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.JogoVers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.JogoVers)
            @Html.ValidationMessageFor(m => m.JogoVers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.JogoDes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.JogoDes)
            @Html.ValidationMessageFor(m => m.JogoDes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.JogoGender)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.JogoGender)
            @Html.ValidationMessageFor(m => m.JogoGender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.JogoFaixa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.JogoFaixa)
            @Html.ValidationMessageFor(m => m.JogoFaixa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.JogoPlat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.JogoPlat)
            @Html.ValidationMessageFor(m => m.JogoPlat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.JogoDtLanc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.JogoDtLanc)
            @Html.ValidationMessageFor(m => m.JogoDtLanc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.JogoSinopse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.JogoSinopse)
            @Html.ValidationMessageFor(m => m.JogoSinopse)
        </div>

        <div>
            <br><input type="submit" value="Enviar" />
        </div>

    </fieldset>
}

