@model WebCadastroGames.Models.Jogo
@{
    ViewBag.Title = "Listar";
}

<h2>Dados registrados</h2>
<fieldset>
    <legend>Jogo</legend>

    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.JogoCod)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoCod)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.JogoNome)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoNome)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.JogoVers)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoVers)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.JogoDes)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoDes)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.JogoGender)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoGender)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.JogoFaixa)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoFaixa)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.JogoPlat)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoPlat)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.JogoDtLanc)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoDtLanc)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.JogoDtLanc)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoCod)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.JogoSinopse)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoSinopse)</div>

</fieldset>

</br><a href="~/">Voltar</a>
