@model WebCadastroGames.Models.Jogo
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
<fieldset>
    <legend>Listar Jogos</legend>

    <div class="editor-label">@Html.DisplayNameFor(m => m.JogoCod)</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoCod)</div>
    <br />
    <div class="editor-label">@Html.DisplayNameFor(m => m.JogoNome)</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoNome)</div>
    <br />
    <div class="editor-label">@Html.DisplayNameFor(m => m.JogoVers)</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoVers)</div>
    <br />
    <div class="editor-label">@Html.DisplayNameFor(m => m.JogoDes)</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoDes)</div>
    <br />
    <div class="editor-label">@Html.DisplayNameFor(m => m.JogoGender)</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoGender)</div>
    <br />
    <div class="editor-label">@Html.DisplayNameFor(m => m.JogoFaixa)</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoFaixa)</div>
    <br />
    <div class="editor-label">@Html.DisplayNameFor(m => m.JogoPlat)</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoPlat)</div>
    <br />
    <div class="editor-label">@Html.DisplayNameFor(m => m.JogoDtLanc)</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoDtLanc)</div>
    <br />
    <div class="editor-label">@Html.DisplayNameFor(m => m.JogoDtLanc)</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoCod)</div>
    <br />
    <div class="editor-label">@Html.DisplayNameFor(m => m.JogoSinopse)</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoSinopse)</div>

</fieldset>

