@model WebCadastroGames.Models.Cliente
@{
    ViewBag.Title = "Cliente";
}


<h2>Novo <b>Cliente</b></h2>

@using (Html.BeginForm("Cliente", "Cliente", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend> Cadastro de Clientes </legend>

        <div class="editor-label">
            @Html.LabelFor(m => m.CliNome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.CliNome)
            @Html.ValidationMessageFor(m => m.CliNome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.CliCPF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.CliCPF)
            @Html.ValidationMessageFor(m => m.CliCPF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.CliDtNasc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.CliDtNasc)
            @Html.ValidationMessageFor(m => m.CliDtNasc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.CliEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.CliEmail)
            @Html.ValidationMessageFor(m => m.CliEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.CliTel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.CliTel)
            @Html.ValidationMessageFor(m => m.CliTel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.CliEnd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.CliEnd)
            @Html.ValidationMessageFor(m => m.CliEnd)
        </div>

        <div>
            <br><input type="submit" value="Enviar" />
        </div>

    </fieldset>
}

