@model WebCadastroGames.Models.Cliente
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
<fieldset>
    <legend>Listar Cliente</legend>

    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.CliNome)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.CliNome)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.CliCPF)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.CliCPF)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.CliDtNasc)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.CliDtNasc)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.CliEmail)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.CliEmail)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.CliTel)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.CliTel)</div>
    <br />
    <div class="editor-label"><b>@Html.DisplayNameFor(m => m.CliEnd)</b></div>
    <div class="editor-field">@Html.DisplayFor(m => m.CliEnd)</div>


</fieldset>
<br><a href="~/">Voltar</a>

